<mat-card class=" container-flex buttonBarBackground m-2" #pageSelector>
    
        <div class="text-center">
            <button class="btn btn-light m-1 button" routerLink="training" routerLinkActive="ah-button-active" type="button">Formació</button>
            <button class="btn btn-light m-1 button" routerLink="projects" routerLinkActive="ah-button-active" type="button">Projectes</button>
            <button class="btn btn-light m-1 button" type="button">Sobre mi</button>
        </div>
    
</mat-card>