<mat-card class=" container-flex cardBackground m-2 p-2" #pageSelector>
    
        <div class="text-center">
            <button class="btn btn-light m-1 button" routerLink="training" routerLinkActive="ah-button-active" type="button">Training</button>
            <button class="btn btn-light m-1 button" routerLink="projects" routerLinkActive="ah-button-active" type="button">Projects</button>
            <button class="btn btn-light m-1 button"  routerLink="about" routerLinkActive="ah-button-active" type="button">About me</button>
        </div>
    
</mat-card>