<div class="container">
  <div class="row">
    <!--  [ngClass]="'!documentSelection' ? 'button-checked':''" -->
    <button mat-raised-button matBadge="{{imgs.length}}" [matBadgeHidden]="documentSelection" class="btn btn-light"
      (click)="openImgSelector()">
      <span>Altres documents</span>
    </button>
  </div>
  <div class="row">
    <div class="col" *ngIf="documentSelection; else showImg">
      <button *ngFor="let img of imgs; let i = index" class="btn btn-light m-2" (click)="changeSelection(i)">
        <img src={{img}} class="d-block w-100 littleImg p-2" alt="...">
      </button>
    </div>
    <ng-template #showImg >
      <div class="img-container m-2">
        <img src={{imgs[selection]}} class="img" alt="...">
      </div>
    </ng-template>
  </div>
</div>