<div class="container-flex noSelect">
    <mat-card class="cardBackground m-2">
                <div class="row m-0 p-0 justify-content-center">
                    <div class="col-12 m-2" style="max-width:fit-content">
                        <img src="https://res.cloudinary.com/dlmdj7zsu/image/upload/v1655978117/perfilcurriculum_wxgvpl.png">
                    </div>
                </div>
                <div class="row m-0 p-0 justify-content-center mb-3">
                    <mat-card class="col-5 card">
                        <h4 style="text-align:center">{{name}}</h4>
                        <h5 style="text-align:center">{{profession}}</h5>
                    </mat-card>
                </div>
    </mat-card>
</div>