<!-- todo: 
    set icons 
    set expand option with photo and data carrousel 
    set better data display
-->

<div class="container-flex">

    <div class="card m-2 p-2">
        <div class="row align-items-center">
            <div class="col-12 col-md-2 d-flex justify-content-center">
                <img src="https://res.cloudinary.com/dlmdj7zsu/image/upload/v1714588308/j2ezvpi05tqvzabxcp8f.png"
                    class="img logo" alt="...">
            </div>
            <div class="col">
                <b>Pizza Maula</b>
                (Desktop app project) 2021 <br>
                Java
            </div>
        </div>
    </div>

    <div class="card m-2 p-2">
        <div class="row align-items-center">
            <div class="col-12 col-md-2 d-flex justify-content-center">
                <img src="https://res.cloudinary.com/dlmdj7zsu/image/upload/v1648071863/logoCalendarMood_avsuw4.png"
                    class="img logo" alt="...">
            </div>

            <div class="col">
                <b>Calendar Mood</b>
                (Android app project) 2022 <br>
                Angular-Ionic-Java-SQLite
            </div>
        </div>

    </div>

    <div class="card m-2 p-2">
        <div class="row align-items-center">
            <div class="col-12 col-md-2 d-flex justify-content-center">
                <img src="https://res.cloudinary.com/dlmdj7zsu/image/upload/v1660905933/DemoMusic/demomusictextogrueso_zgg8bv.png"
                    class="img logo" alt="...">
            </div>

            <div class="col">
                <b>Demomusic</b>
                (Web app project) 2022 <br>
                Angular-Express-MongoDb
            </div>


        </div>

    </div>

    <!-- <div class="card m-2 p-2">
        Green cities (Blender) 2023
    </div> -->

    <div class="card m-2 p-2">

        <div class="row align-items-center">
            <div class="col-12 col-md-2 d-flex justify-content-center">
                <img src="./../../../assets/imgs/logo_zerticarbon.png" class="img logo" alt="...">
            </div>
            <div class="col">
                <b>Zerticarbon</b> team member (Web project) 2023 <br>
                Vue
            </div>
            <div class="col-12 col-md-2 d-flex justify-content-center">
                <a href="https://emergenciaclimaplaestany.cat/inici">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                        class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
                        <path fill-rule="evenodd"
                            d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
                    </svg>
                </a>
            </div>
        </div>
        <!-- Automatizar la creación de nfts a partir de conjuntos de ficheros de información. -->
    </div>

    <div class="card m-2 p-2">

        <div class="row align-items-center">
            <div class="col-12 col-md-2 d-flex justify-content-center">
                <img src="./../../../assets/imgs/ecologizacion-logo.png" class="img logo" alt="...">
            </div>
            <div class="col">
                <b>Ecologización</b> (Web project) 2023 <br>
                Html-javascript
            </div>

            <div class="col-12 col-md-2 d-flex justify-content-center">
                <a href="https://ecologizacion.es/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                        class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
                        <path fill-rule="evenodd"
                            d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="card m-2 p-2">

        <div class="row align-items-center">
            <div class="col-12 col-md-2 d-flex justify-content-center">
                <img src="./../../../assets/imgs/emergencia-climatica-pde.png" class="img logo" alt="...">
            </div>
            <div class="col"><b>Emergència climàtica Pla de l'Estany</b> (Web project) 2024 <br>
                Angular-Node-Express-Mysql2-Sql</div>
            <div class="col-12 col-md-2 d-flex justify-content-center">
                <a href="https://emergenciaclimaplaestany.cat/inici">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                        class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
                        <path fill-rule="evenodd"
                            d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
                    </svg>
                </a>
            </div>
        </div>

    </div>



    <div class="card m-2 p-2">
        <div class="row align-items-center">
            <div class="col-12 col-md-2 d-flex justify-content-center">
                <img src="./../../../assets/imgs/zertipower-logo-black.png" class="img logo" alt="...">
            </div>
            <div class="col">
                <b>Zertipower</b> team member (Web project) 2023-2024 <br>
                team-member
                Angular-Nest-Prisma-Sql-Solidity
            </div>
            <div class="col-12 col-md-2 d-flex justify-content-center">
                <a href="https://calculadora.zertipower.com/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                        class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
                        <path fill-rule="evenodd"
                            d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="card m-2 p-2">
        <div class="row align-items-center">
        <div class="col-12 col-md-2 d-flex justify-content-center">
            <img src="./../../../assets/imgs/pocimarum-logo.png" class="img logo" alt="...">
        </div>
        <div class="col">Pocimarvm (Web project) 2024-2025 <br> Angular

        </div>
        </div>
        
        <!-- Juego de cartas imprimible, facilita la creación de cartas y automatiza el guardado. -->
    </div>

    <div class="card m-2 p-2">
        <div class="row align-items-center">
            <div class="col-12 col-md-2 d-flex justify-content-center">
                <img src="https://res.cloudinary.com/dlmdj7zsu/image/upload/v1660905933/DemoMusic/demomusictextogrueso_zgg8bv.png"
                class="img logo" alt="...">
            </div>
            <div class="col">
                <b>Demomusic v2</b>
                (Web app project) 2024-2025 <br>
                <!-- Aplicación con sistema de visionado de vídeos de votación a tiempo real por grupos -->
                Angular-Nest-TypeOrm-Sql
            </div>
        </div>
    </div>

</div>