<!-- todo: 
    set icons 
    set expand option with photo and data carrousel 
    set better data display
-->

<div class="container-flex">

    <div class="card m-2 p-2">
        <div class="d-flex justify-content-around align-items-center">

            <div>
                <b>Pizza Maula</b>
                (Desktop app project) 2021
                Java
            </div>

            <img src="https://res.cloudinary.com/dlmdj7zsu/image/upload/v1714588308/j2ezvpi05tqvzabxcp8f.png"
                class="img logo" alt="...">

        </div>

    </div>

    <div class="card m-2 p-2">
        <div class="d-flex justify-content-around align-items-center">

            <div>
                <b>Calendar Mood</b>
                (Android app project) 2022
                Angular-Ionic-Java-SQLite
            </div>

            <img src="https://res.cloudinary.com/dlmdj7zsu/image/upload/v1648071863/logoCalendarMood_avsuw4.png"
                class="img logo" alt="...">
        </div>

    </div>

    <div class="card m-2 p-2">
        <div class="d-flex justify-content-around align-items-center">

            <div>
                <b>Demomusic</b>
                (Web app project) 2022
                Angular-Express-MongoDb
            </div>

            <img src="https://res.cloudinary.com/dlmdj7zsu/image/upload/v1660905933/DemoMusic/demomusictextogrueso_zgg8bv.png"
                class="img logo" alt="...">

        </div>

    </div>

    <div class="card m-2 p-2">
        Green cities (Blender) 2023
    </div>

    <div class="card m-2 p-2">
        Ecologización (Web project) 2023
        Html-javascript
    </div>

    <div class="card m-2 p-2">
        Emergencia climàtica Pla de l'Estany (Web project)
        Angular-Node-Express-Mysql2-Sql
    </div>

    <div class="card m-2 p-2">
        Zertifier project: Zerticarbon (Web project) 2023
        Vue
        Automatizar la creación de nfts a partir de conjuntos de ficheros de información.
    </div>

    <div class="card m-2 p-2">
        Zertifier project: Zertipower (Web project) 2023-2024
        Angular-Nest-Prisma-Sql-Solidity

    </div>

    <div class="card m-2 p-2">
        Pocimarvm: Web project
        Juego de cartas imprimible, facilita la creación de cartas y automatiza el guardado.
    </div>

    <div class="card m-2 p-2">
        <div class="d-flex justify-content-around align-items-center">

            <div>
                <b>Demomusic</b>
                (Web app project) 2024-2025
                Aplicación con sistema de visionado de vídeos de votación a tiempo real por grupos
                Angular-Nest-TypeOrm-Sql

            </div>

            <img src="https://res.cloudinary.com/dlmdj7zsu/image/upload/v1660905933/DemoMusic/demomusictextogrueso_zgg8bv.png"
                class="img logo" alt="...">

        </div>

    </div>

</div>