/* You can add global styles to this file, and also import other style files */


html,
body {
    height: 100%;
    
    background-color: #D3F1DF !important;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.backgroundPrimary {
    background-color: #D3F1DF !important;
    /* #393939 */
    /* #D8D8D8; */
}

.cardBackground {
    // background-color: #567e47 !important;
    
    background-color: #6b9b79 !important;
    color:white;
    /* #ffeeb7 */
    /* #ffd153; */
    /* #ffb48e; */
}

.cardBackgroundSecondary {
    background-color: #85A98F !important;
    /* #DAF7A6; */
}

.dateViewer {
    margin-top: 1em;
    padding: 1em;
    background-color: #aeddae;
    text-align: center;
    border-radius: 5px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.cellBackground {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    height: 25px;
}

.scrollableContainer {
    overflow: auto;
    max-height: 150px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #9acfa9 !important;
    color: white !important;
    border-color: #5ca15f !important;
}

.btn-primary {
    color: white !important;
    background-color: #85A98F !important;
    border-color: #5ca15f !important;
}