/* You can add global styles to this file, and also import other style files */

html,
body {
    display:flex;
    flex-direction: column;
    background-color: #993232;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.backgroundPrimary {
    background-color: #993232;
    /* #393939 */
    /* #D8D8D8; */
}

.cardBackground {
    background-color: #ffeeb7;
    /* #ffd153; */
    /* #ffb48e; */
}

.cardBackgroundSecondary {
    background-color: #f9dd7f;
    /* #DAF7A6; */
}
